<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TOY_nsnotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F7D50081991A68D003515CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7D501A1991A68E003515CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7D50311991AF08003515CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7D503B1991AF08003515CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
